table th {
  background-color: rosybrown;
}
table td,
table th {
  border: 1px solid black;
}
table {
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 300px;
  text-align: center;
  margin-top: 40px;
}
header ul {
  list-style-type: none;
  text-align: right;
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: 8px;
}
header ul li {
  margin-bottom: 10px;
}
header ul li a {
  color: white;
  text-decoration: none;
}

.header-container {
  display: flex;
  width: 100%;
}
.header-container img {
  max-height: 100px;
}

header {
  background-color: blue;
}

.autoTable {
  display: inline-flex;
  position: relative;
  width: 100%;
  justify-content: center;
}
.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.spinner img {
  max-width: 250px;
}
.final-listing {
  margin-bottom: 40px;
}
.final-list-item img {
  max-width: 20px;
  position: relative;
  display: inline-block;
  width: 100%;
}
.final-list-item {
  display: inline;
}

.form-item p {
  margin: 0;
}
input {
  margin-top: 8px;
}

.footer-container {
  display: flex;
  width: 100%;
}
footer {
  background-color: blue;
  margin-top: 48px;
}

footer ul li {
  margin-right: 5px;
}
footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  text-align: right;
  display: flex;
  flex-flow: row;
  margin-right: auto;
}
footer .rights-reserved p {
  color: white;
  margin-right: 8px;
}
